<!-- <h1>New Game</h1>
  <div>
    <ul>
      <% @letters.each do |letter| %>
      <p class="border-text"><%= letter %></p>
      <% end %>
    </ul>
  </div>
  <p>What is the Longest word you can find?</p>
  <div>
    <form action="/score" method="post">
      <input type="text" name="word">
      <input type="submit" value="Play!">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    </form>
  </div> -->

  <h1>New game</h1>

<ul class="letters">
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<p class="form-prefix">What is the longest word you can find?</p>

<form action="/score" method="POST" class="form-inline">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <div class="input-group input-group">
    <input type="text" name="word" class="form-control">
    <span class="input-group-btn">
      <input type="submit" value="Play" class="btn btn-default">
    </span>
  </div>
</form>

